.nav-sub::before {
  content: "\e56c";
}
.bg-head {
  margin: 3% 0 3% 0;
  display: flex;
  justify-content: center;
  column-gap: 5rem;
  background-color: rgb(185, 0, 23);
  max-width: 100%;
  min-height: 20vh;
}

.ourfood-card {
  min-width: 30vh;
  max-width: 30vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.ourfood-img {
  margin: 0 auto;
  width: 100%;
}
.food-name {
  border-bottom: 1px dashed rgb(74, 74, 74);
}
.menu {
  display: flex;
  flex-wrap: wrap;
}
.menu-title::before {
  position: absolute;
  transform: translateX(-1.5rem);
  content: "";
  width: .4rem;
  height: 3rem;
  border-radius: 0 1rem 1rem 0;
  background-color: rgb(255, 198, 0);
}