.nav-sub::before {
  content: "\e56c";
}
.ourfood-card {
  width: 15rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
.ourfood-img {
  width: 100%;
  height: 100%;
  padding: 3vh;
  object-fit: contain;
}
.food-name {
  font-size: 1.3rem;
  font-weight: 500;
  object-fit: contain;
}
.btn-danger {
  width: 100%;
}
.menu {
  display: flex;
  flex-wrap: wrap;
}
.menu-title::before {
  position: absolute;
  transform: translateX(-1.5rem);
  content: "";
  width: .4rem;
  height: 3rem;
  border-radius: 0 1rem 1rem 0;
  background-color: rgb(255, 198, 0);
}

.pic-container {
  width: 14rem;
  height: 13rem;
  align-self: center;
  display: flex;
  justify-content: center;
  background-size: cover;
  overflow: hidden;
}

.burgercontent {
  margin: 0 auto;
  padding: 2rem;
  margin-top: 2rem;
  max-width: 130vh;
  min-height: 80vh;
  background-color: #ffffff;
}
.setcontent {
  margin: 0 auto;
  padding: 2rem;
  margin-top: 2rem;
  max-width: 130vh;
  min-height: 80vh;
  background-color: #ffffff;
}
.submenucontent {
  margin: 0 auto;
  padding: 2rem;
  margin-top: 2rem;
  max-width: 130vh;
  min-height: 80vh;
  background-color: #ffffff;
}
.text-container {
  height: 5rem;
  width: 100%;
  border-bottom: 1px dashed rgb(74, 74, 74);
}

.pricehead {
  font-size: 0.7rem;
  padding-top: 0.5rem;
  margin: 0;
  color: #D0021B;
}
.quantity-change {
  font-family: 'Material Symbols Outlined';
  font-size: 0.9rem;
  border: none;
  background-color: transparent;
}