.head {
    margin: 0 0 2rem 0;
}
.head::before {
    position: absolute;
    transform: translateX(-1.5rem);
    content: "";
    width: .4rem;
    height: 3rem;
    border-radius: 0 1rem 1rem 0;
    background-color: rgb(255, 198, 0);
} 
.content-header {
    min-height: 10vh;
}
.nav-sub::before {
    content: "\e7fd";
}
/* profile */
.profile {
    padding: 2rem 10rem 2rem 10rem;
    font-size: 1.25rem;
}
.profile p {
    margin-bottom:0.5rem ;
}
.tt {
    width: 30%;
}
.ll {
    width: 50%;
}
.nameblock {
    display: flex;
    width: 100%;
}
.emailblock {
    width: 100%;
    margin-top: 1vh;
    display: flex;
}
.phonenumblock {
    width: 100%;
    margin-top: 1vh;
    display: flex;
}
.addressblock {
    display: flex; 
    justify-content: center; 
    width: 100%;
    flex-direction: column;
}
.addressblock h5 {
    margin-top: 1vh;
    width: 100%;
}

.addressfield {
    display: flex;
    justify-content: space-evenly;
}
.otherblock {
    display: flex;
    height: 3rem;  
    width: 100%;
}

.buttonblock {
    display: flex; 
    height: 3rem;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
}

.del-button {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    height: 100%;
    font-size:1.5rem;
    text-align: center;
    background-color: #a92221;
    color: #ffffff;
    margin-right: 5%;
    width: 12%;
    border: none;
    border-radius: 0.3vh;
}

.adjust-button {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    justify-self: left ;
    font-style: normal;
    height: 100%;
    font-size:1.5rem;
    text-align: center;
    background-color: #a92221;
    color: #ffffff;
    margin-right: 5%;
    width: 12%;
    border: none;
    border-radius: 0.3vh;
}

.logout-button {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    height: 100%;
    font-size:1.5rem;
    text-align: center;
    background-color:#a92221;
    color: #ffffff;
    width: 12%;
    margin-right: 5%;
    border: none;
    border-radius: 0.3vh;
}
.btn-primary {
    width: 20%;
}
.btn-danger {
    width: 15%;
}
.btn-secondary {
    width: 15%;
}
.warningbar {
    z-index: 200;
    width: 25%;
    background-color: white;
    padding: 0 0.5rem 1rem 0.5rem;
    height: 45%;
    position: fixed;
    top: -30%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    transition: top .5s ease-in-out;
    visibility: hidden;
    box-shadow: 10px 10px 20px 5px #0000004e;
}
.warningbar-slide {
    visibility: visible;
    top: 50%;
}
.warningtext {
    font-size: 2.5em;
    text-align: center;
}
.closebtn {
    font-family: 'Material Icons';
    text-align: right;
    font-size: 3rem;
}

.logoutbar {
    z-index: 200;
    width: 25%;
    background-color: white;
    padding: 0 0.5rem 1rem 0.5rem;
    height: 45%;
    position: fixed;
    top: -30%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    transition: top .5s ease-in-out;
    visibility: hidden;
    box-shadow: 10px 10px 20px 5px #0000004e;
}
.logoutbar-slide {
    visibility: visible;
    top: 50%;
}
.warningtext {
    font-size: 2em;
    text-align: center;
}
.closebtn {
    font-family: 'Material Icons';
    text-align: right;
    font-size: 2rem;
    color: #B90017;
}

.profileconfigure {
    padding: 2rem 10rem 2rem 10rem;
    font-size: 1.25rem;
}
.profileconfigure input {
    margin-bottom:0.5rem ;
}
.buttonblock1 {
    display: flex; 
    height: 3rem;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
}
.delconfirm {
    width: 90%;
    margin: 0 auto;
    background-color: #B90017;
    border-radius: .5rem;
    color: #ffffff;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoutconfirm {
    width: 90%;
    margin: 0 auto;
    background-color: #B90017;
    border-radius: .5rem;
    color: #ffffff;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}