.contain-menu {
  display: flex;
}
.head{
    margin-left: 10rem;
    padding-top: 5rem;
    box-sizing: border-box;
    display: flex;
}
.head h1{
  font-size: 50px;
}
.head .line{
  content: '';
  background-color: #FFC600;
  width: 10px;
  height: 60px;
  border-radius: 6px;
  margin-right: 10px;
}

.menu{
  display: flex;
  justify-content: center;
  height: 500px;
  width: 100%;
  padding-top: 20px;
  
}
.ourfood-card {
  width: 30vh;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.ourfood-card img.ourfood-img {
  margin: 0 auto;
  max-width: 10rem;
  height: 10rem;
}
.food-name {
  border-bottom: 1px dashed rgb(74, 74, 74);
}